@inherits UmbracoViewPage

@using Umbraco.Web.Models

@{
    IEnumerable<RelatedLink> footerSocialLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerSocialLinks", true);
    IEnumerable<RelatedLink> footerLeftLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerLeftLinks", true);
    IEnumerable<RelatedLink> footerRightLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerRightLinks", true);

}

<div class="footer-basic">
    <footer>
        @if (footerSocialLinks != null && footerSocialLinks.Count() > 0)
        {
            <div class="social">
                @foreach (RelatedLink link in footerSocialLinks)
                {
                    <a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)"><i class="icon fa fa-@link.Caption"></i></a>
                }
            </div>
        }




        <div id="footer">

            <div id="footer-left-nav">
                @if (footerLeftLinks != null && footerLeftLinks.Count() > 0)
                {

                    <ul>
                        @foreach (RelatedLink link in footerLeftLinks)
                        {
                            <li><a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a></li>
                        }
                    </ul>
                }
            </div>


            <div id="footer-icons">

                <ul id="footer-icons-awards">
                        <li><img src="images/icon-relais-chateaux.png" /></li>
                        <li><img src="images/icon-by-appointment.png" /></li>
                        <li><img src="images/icon-pride-of-britain.png" /></li>
                </ul>

                <ul id="footer-icons-social">
                    <li><a target="_blank" href="#"><img src="images/icon-google.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="images/icon-linkedin.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="images/icon-facebook.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="images/icon-tripadvisor.png" /></a></li>
                    <li><a target="_blank" href="#"><img src="images/icon-twitter.png" /></a></li>
                </ul>
            </div>

            <div id="footer-right-nav">
                @if (footerRightLinks != null && footerRightLinks.Count() > 0)
                {

                    <ul>
                        @foreach (RelatedLink link in footerRightLinks)
                        {
                            <li><a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a></li>
                        }
                    </ul>
                }
            </div>

        </div><!-- /#footer -->


        <div id="footer-legal-nav">
            <ul>
                <li>&copy; The Goring @DateTime.Now.Year</li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Legal &amp; Privacy</a></li>
            </ul>
        </div>
    </footer>
</div>