@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using Umbraco.Web.Models

@{
    IEnumerable<RelatedLink> footerSocialLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerSocialLinks", true);
    IEnumerable<RelatedLink> footerLeftLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerLeftLinks", true);
    IEnumerable<RelatedLink> footerRightLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerRightLinks", true);
}


        




<div id="footer">

    <div id="footer-left-nav">
        @if (footerLeftLinks != null && footerLeftLinks.Count() > 0)
        {

            <ul>
                @foreach (RelatedLink link in footerLeftLinks)
                {
                    <li><a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a></li>
                }
            </ul>
        }
    </div>




    <div id="footer-icons">

        @if (CurrentPage.HasValue("footerAwards"))
        {
            var footerAwardsList = CurrentPage.footerAwards; // Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                                                             //var caseStudyImagesCollection = Umbraco.Media(caseStudyImagesList);

            <ul id="footer-icons-awards">

                @for (int i = 0; i < footerAwardsList.Count; i++)
                {
                    <li><img src="@footerAwardsList[i].Url" /></li>
                }
            </ul>
        }


        @if (footerSocialLinks != null && footerSocialLinks.Count() > 0)
        {
            <ul id="footer-icons-social">
                @foreach (RelatedLink link in footerSocialLinks)
                {
                    string strPath = "/Images/icon-" + link.Caption + ".png";
                <li>
                    <a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">
                        <img src="@strPath" />
                    </a>
                </li>

                    
                    @*<i class="icon fa fa-@link.Caption"></i>*@
                }
            </ul>
        }
    </div>   <!-- footer-icons"-->

    <div id="footer-right-nav">
        @if (footerRightLinks != null && footerRightLinks.Count() > 0)
        {

            <ul>
                @foreach (RelatedLink link in footerRightLinks)
                {
                    <li><a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a></li>
                }
            </ul>
        }
    </div>

    </div><!-- /#footer -->


    <div id="footer-legal-nav">
        <ul>
            <li>&copy; The Goring @DateTime.Now.Year</li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Legal &amp; Privacy</a></li>
        </ul>
    </div>
