
@inherits UmbracoViewPage

@using Umbraco.Web.Models

@{
    string homeBoxId = "homeBoxes";
    IEnumerable<IPublishedContent> homeBox = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(homeBoxId);
}

@*<div class="home-content-panels cf">

        <div class="home-text">
            <h2>OVER A CENTURY OF LUXURY SERVICE</h2>
            <div class="divider"></div>
            <p><em>A quintessentially English Luxury Hotel</em></p>
            <p>Today, The Goring remains a favourite address and hidden gem for anyone seeking out that Quintessentially English Luxury Hotel in centre of London. </p>
        </div>



        <div class="home-rollover">
            <div class="home-rollover-image">
                <img src="content-images/home-panel-1.jpg" alt="" />
                <div class="keyline"></div>
            </div>
            <div class="home-rollover-content">
                <div class="home-offer">
                    <h2>Quintessential British Cuisine at The Goring</h2>
                    <div class="divider"></div>
                    <p>For over a century our food has played a pivotal role in establishing The Goring as one of London’s finest five star luxury hotels. </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>



        <div class="home-rollover right">
            <div class="home-rollover-image">
                <img src="content-images/home-panel-2.jpg" alt="" />
                <div class="keyline"></div>
            </div>
            <div class="home-rollover-content">
                <div class="home-offer">
                    <h2>Quintessential British Cuisine at The Goring</h2>
                    <div class="divider"></div>
                    <p>For over a century our food has played a pivotal role in establishing The Goring as one of London’s finest five star luxury hotels. </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>


    </div><!-- /.home-content-panels -->

    <div class="home-content-panels second-row cf">

        <div class="home-offer">
            <h2>Indulgent <br /><span>Weekends</span> <br /> <em>at The Goring</em></h2>
            <div class="divider"></div>
            <p>Plan ahead and enjoy reduced rates at <br />The Goring.</p>
            <a href="#">From &pound;427 per night</a>
        </div>


        <div class="home-center-rollover">
            <div class="home-rollover-image">
                <img src="content-images/home-panel-3.jpg" alt="" />
                <div class="keyline"></div>
            </div>
            <div class="home-rollover-content">
                <div class="home-offer">
                    <h2>Big John Recommends <br /><span>Top London Tips</span> <br /> <em>From London’s Top Concierge</em></h2>
                    <div class="divider"></div>
                    <p>This month John recommendations;<br />Harry Potter Tours<br />Lion King (the musical)...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>


        <div class="home-offer right">
            <h2>One Hundred Years <br /><span>One Family</span> <br /> <em>the History of the Goring</em></h2>
            <div class="divider"></div>
            <p>Discover more about our century of service.<br />&nbsp;</p>
            <a href="#">READ MORE</a>
        </div>

    </div><!-- /.home-content-panels -->*@

@if (homeBox != null && homeBox.Any())
{
    int boxCount = 0;

    foreach (IPublishedContent box in homeBox.Where(x => x.IsVisible()))
    {
        string heading = box.GetPropertyValue<string>("heading");
        string subHeading = box.HasValue("subHeading") ? box.GetPropertyValue<string>("subHeading") : "";
        string body = box.GetPropertyValue<string>("body");
        string rolloverImage = box.HasValue("rolloverImage") ? box.GetPropertyValue<IPublishedContent>("rolloverImage").Url : "";

        // IEnumerable<RelatedLink> links = slide.GetPropertyValue<IEnumerable<RelatedLink>>("slideLink");
        // RelatedLink link = links != null ? links.FirstOrDefault() : null;

        if (boxCount >= 0 && boxCount < 3)
        {
            <div class="home-content-panels cf">

                @if (box.HasValue("rolloverImage"))
                {
                    <div class="home-rollover right">
                        <div class="home-rollover-image">
                            <img src="@rolloverImage" alt="" />
                            <div class="keyline"></div>
                        </div>
                        <div class="home-rollover-content">
                            <div class="home-offer">
                                <h2>@heading</h2>
                                <div class="divider"></div>
                                <p>@body</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="home-text">
                        <h2>@heading</h2>
                        <div class="divider"></div>
                        <p><em>@subHeading</em></p>
                        <p>@body</p>
                    </div>
                }

            </div> <!-- /.home-content-panels -->

        }

        if (boxCount >= 3)
        {
            <div class="home-content-panels second-row cf">

                @if (box.HasValue("rolloverImage"))
                {
                    <div class="home-rollover">
                        <div class="home-rollover-image">
                            <img src="@rolloverImage" alt="" />
                            <div class="keyline"></div>
                        </div>
                        <div class="home-rollover-content">
                            <div class="home-offer">
                                <h2>@heading</h2>
                                <div class="divider"></div>
                                <p>@body</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="home-text">
                        <h2>@heading</h2>
                        <div class="divider"></div>
                        <p><em>@subHeading</em></p>
                        <p>@body</p>
                    </div>
                }


            </div>
        }
    }


    boxCount++;
}
}
