@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OffersList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var offersList = Model.Content.Children<OfferItem>();

}

<div class="main-content body one-column cf">
			
 <h1>@Umbraco.Field("pageHeading")</h1>
 <p>@Umbraco.Field("introText")</p>
		</div>
<!-- /.main-content -->
<div class="offers-grid">

    @foreach (var offer in offersList)
    {
        <div class="offer-item">
            <h2>@offer.SubHeading</h2>
            <h3>@offer.SectionHeading</h3>
            <p><span><span>
                
                @offer.OfferSummary
                </span></span></p>
            
            <a href="@offer.Url" class="offer-item-link">Click here for details</a>
        </div>


    }

    
    @*<div class="offer-item">
        <h2>Example offer 1</h2>
        <h3>Enjoy 50% off</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>
    <div class="offer-item">
        <h2>Example offer 2</h2>
        <h3>From £434 per night</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>
    <div class="offer-item">
        <h2>Another example</h2>
        <h3>From £222 per night</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>
    <div class="offer-item">
        <h2>Example offer 1</h2>
        <h3>Enjoy 50% off</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>
    <div class="offer-item">
        <h2>Example offer 2</h2>
        <h3>From £434 per night</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>
    <div class="offer-item">
        <h2>Another example</h2>
        <h3>From £222 per night</h3>
        <p><span><span>Spend two nights with us, including a Sunday, and you will receive 50% off your Sunday night rate - great for weekends.</span></span></p>
        <a href="/link/" class="offer-item-link">Click here for details</a>
    </div>*@
</div>